/* start general rules  */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
:root {
  --primary-color: #e41c26;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
.btn {
  border: 1px solid white;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  position: relative;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
.btn:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn:hover::before {
  border-color: var(--primary-color);
}
.btn::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  bottom: -30%;
  left: -7%;
  border-top: none;
  border-right: none;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
.no-hover-btn {
  border: 1px solid white;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
}
.section-tittle {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
  width: fit-content;
  margin-inline: auto;
  position: relative;
}
.section-tittle::before {
  content: "features";
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  color: transparent;
  -webkit-text-stroke: 0.2px white;
  font-size: 65px;
  z-index: -1;
}
.section-tittle::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 30%;
  height: 3px;
  background-color: red;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.section-p {
  color: white;
  width: 50%;
  margin-inline: auto;
  text-align: center;
  font-size: 0.7em;
  font-weight: 500;
  margin-top: 10px;
}
/* start media query  */
@media (max-width: 767px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .section-p {
    width: 100%;
  }
  .section-tittle {
    font-size: 1.8em;
  }
  .section-tittle::before {
    font-size: 55px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1199px) {
  .container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* end media query  */
/* end general rules  */
/* start header ------------------------------------------------------  */
header .top-header {
  display: flex;
}
header .top-header .logo {
  padding: 12px 25.5px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}
header .top-header .logo img {
  width: 217.15px;
  height: 79.75px;
  fill: white;
  cursor: pointer;
}
header .top-header .infos {
  flex: 1;
}
header .top-header .infos .contact-infos {
  height: 48px;
  padding-inline: 10px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-header .infos .contact-infos .mail-phone i {
  color: white;
}
header .top-header .infos .contact-infos .mail-phone a {
  color: white;
  font-size: 14px;
  margin-right: 15px;
  font-weight: 500;
}
header .top-header .infos .contact-infos .icons i {
  color: white;
  padding: 10px;
}
header .top-header .infos .navigation {
  height: 80.15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
}
header .top-header .infos .navigation input#show-menu {
  display: none;
}
header .top-header .infos .navigation label.line-menu {
  margin-left: 10px;
  background-color: var(--primary-color);
  color: white;
  height: 80px;
  width: 80px;
  order: 5;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .top-header .infos .navigation nav {
  flex: 1;
}
header .top-header .infos .navigation nav ul {
  display: flex;
}
header .top-header .infos .navigation nav ul li {
  padding: 10px 14px;
}
header .top-header .infos .navigation nav ul li a {
  text-transform: uppercase;
  color: black;
  font-weight: 300;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
header .top-header .infos .navigation nav ul li a.active {
  color: var(--primary-color);
}
header .top-header .infos .navigation nav ul li a:hover {
  color: var(--primary-color);
}
header .top-header .infos .navigation .search {
  height: 40px;
  width: 250px;
  position: relative;
}
header .top-header .infos .navigation .search::after {
  content: "\f002";
  font-family: "font awesome 5 free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
header .top-header .infos .navigation .search input {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 15px;
}
header .top-header .infos .navigation .search input:focus {
  border: 1px solid gray;
  outline: none;
}
header
  .top-header
  .infos
  .navigation
  .search
  input::-webkit-search-cancel-button,
header .top-header .infos .navigation .search input::-webkit-search-decoration,
header
  .top-header
  .infos
  .navigation
  .search
  input::-webkit-search-results-button,
header
  .top-header
  .infos
  .navigation
  .search
  input::-webkit-search-results-decoration {
  display: none;
}
header .landing {
  height: 750px;
  background: url(../imgs/landing-bg.jpg) no-repeat;
  background-size: cover;
}
header .landing .container {
  height: 100%;
  display: flex;
  align-items: center;
}
header .landing .container .content {
  position: relative;
  z-index: 1;
}
header .landing .container .content::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 130%;
  border: 15px solid var(--primary-color);
  top: -18%;
  left: -7%;
  z-index: -1;
  border-right: none;
}
header .landing .container .content h3 {
  font-size: 25px;
  color: white;
}
header .landing .container .content h1 {
  font-size: 99px;
  margin-block: 10px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}
header .landing .container .content h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 15px;
}
header .services {
  display: flex;
}
header .services .parent {
  position: relative;
  text-align: center;
  padding: 1.5em;
}
header .services .parent i {
  color: white;
  font-size: 2em;
}
header .services .parent h3 {
  text-transform: uppercase;
  color: white;
  margin: 1em 0em;
}
header .services .parent p {
  width: 70%;
  margin-inline: auto;
  margin-bottom: 1em;
  color: white;
  font-size: 0.8em;
}
header .services .parent i:last-of-type {
  position: absolute;
  right: 0%;
  bottom: 0%;
  font-size: 5em;
  opacity: 0.5;
}
header .services .progression {
  background-color: #222;
}
header .services .workout {
  background-color: #eee;
}
header .services .workout i {
  color: black;
}
header .services .workout h3 {
  color: red;
}
header .services .workout p {
  color: black;
}
header .services .nutrition {
  background-color: red;
}
@media (max-width: 767px) {
  header .top-header .logo img {
    width: 100px;
    height: 55px;
  }
  header .top-header .infos .contact-infos {
    display: none;
  }
  header .top-header .infos .navigation {
    position: relative;
  }
  header .top-header .infos .navigation label.line-menu {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding-right: 15px;
    margin-left: 0px;
  }
  header .top-header .infos .navigation nav {
    transition: 0.3s all ease;
    position: absolute;
    left: 0%;
    top: 100%;
    z-index: 20;
    width: 100%;
    display: none;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
  }
  header .top-header .infos .navigation nav ul {
    flex-direction: column;
    text-align: center;
    background-color: white;
  }
  header .top-header .infos .navigation nav ul li {
    padding: 50px 25px;
  }
  header .top-header .infos .navigation nav ul li a {
    font-weight: 500;
  }
  header .top-header .infos .navigation .search {
    display: none;
  }
  header .top-header .infos .navigation input#show-menu:checked ~ nav {
    display: block;
  }

  header .landing {
    background-position-x: 30%;
  }
  header .landing .container {
    justify-content: center;
  }
  header .landing .container .content h3 {
    font-size: 15px;
  }
  header .landing .container .content h1 {
    font-size: 50px;
  }
  header .landing .container .content h2 {
    font-size: 20px;
  }
  header .landing .container .content::before {
    left: -11%;
  }
  header .landing .container .content .btn {
    position: relative;
    left: 5%;
  }
  header .services {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .top-header .logo img {
    width: 130px;
  }
  header .top-header .infos .navigation {
    justify-content: space-between;
  }
  header .top-header .infos .navigation nav ul li {
    padding: 10px 10px;
  }
  header .top-header .infos .navigation nav ul li a {
    font-size: 13px;
  }
  header .top-header .infos .navigation .search {
    width: 200px;
  }
  header .landing .container {
    justify-content: center;
  }
  header .services {
    flex-direction: column;
  }
}
/* end header ------------------------------------------------------  */
/* start about section --------------------------------------------------- */
.about .container {
  display: flex;
  gap: 20px;
  padding-block: 4em;
}
.about .container .left,
.about .container .right {
  width: 50%;
}
.about .container .left h4 {
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.about .container .left h2 {
  position: relative;
  margin-bottom: 10px;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 900;
}
.about .container .left h2::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 33%;
  height: 3px;
  background-color: red;
}
.about .container .left p {
  margin-bottom: 40px;
  font-weight: 500;
}
.about .container .left .wrapper {
  display: flex;
}
.about .container .left .wrapper > div:first-of-type {
  margin-right: 20px;
}
.about .container .left .wrapper > div img {
  width: 50px;
}
.about .container .left .wrapper h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 0.8em;
}
.about .container .left .wrapper p {
  opacity: 0.6;
}
.about .container .right {
  position: relative;
}
.about .container .right img:first-of-type {
  max-width: 100%;
  height: 100%;
}
.about .container .right img:last-of-type {
  max-width: 100%;
  height: 100%;
  position: absolute;
  left: 20%;
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column;
    padding-block: 2em;
  }
  .about .container .left,
  .about .container .right {
    width: 100%;
  }
  .about .container .right img:last-of-type {
    left: 35%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about .container .right img:first-of-type {
    object-fit: cover;
  }
}

/* end about section --------------------------------------------------- */
/* start features section ----------------------------------------------- */
.features {
  background-color: black;
  padding-block: 5em;
  position: relative;
  z-index: -5;
}
.features .container .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 30px 0;
}
.features .container .wrapper .parent {
  background-color: #2a2a2a;
  text-align: center;
  padding: 1em;
}
.features .container .wrapper .parent h4 {
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.features .container .wrapper .parent img {
  margin-bottom: 10px;
}
.features .container .wrapper .parent p {
  color: white;
  font-size: 0.8em;
  font-weight: 500;
}
.features .container .bullets {
  text-align: center;
}
.features .container .bullets span {
  width: 30px;
  height: 5px;
  margin-right: 5px;
  background-color: #2a2a2a;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}
.features .container .bullets span.active {
  width: 45px;
  background-color: var(--primary-color);
}
@media (max-width: 767px) {
  .features .container .wrapper {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .features .container .wrapper {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .features .container .wrapper .parent {
    width: 48%;
  }
}
/* end features section ----------------------------------------------- */
/* start testimonial section -------------------------------------------- */
.testimonial {
  position: relative;
  top: -40px;
}
.testimonial .head {
  display: flex;
  padding-left: 13em;
}
.testimonial .head .left {
  width: 25%;
}
.testimonial .head .left img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial .head .right {
  background-color: var(--primary-color);
  padding: 2em;
}
.testimonial .head .right h2 {
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2em;
  margin-bottom: 15px;
  width: fit-content;
}
.testimonial .head .right h2::before {
  position: absolute;
  content: "";
  left: 0%;
  bottom: 0%;
  width: 50%;
  height: 3px;
  background-color: white;
}
.testimonial .head .right p {
  font-size: 0.8em;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
}
.testimonial .container .reviews {
  padding-block: 5em;
  display: flex;
}
.testimonial .container .reviews .left,
.testimonial .container .reviews .right {
  width: 50%;
}
.testimonial .container .reviews .left {
  position: relative;
}
.testimonial .container .reviews .left::before {
  content: "\f10e";
  font-family: "font awesome 5 free";
  font-weight: 900;
  position: absolute;
  right: 5%;
  top: 45%;
  color: black;
  font-size: 6em;
  opacity: 0.05;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.testimonial .container .reviews .left h4 {
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
}
.testimonial .container .reviews .left h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.5em;
  margin-bottom: 30px;
}
.testimonial .container .reviews .left h2::before {
  position: absolute;
  content: "";
  bottom: 0%;
  left: 0%;
  width: 15%;
  height: 3px;
  background-color: var(--primary-color);
}
.testimonial .container .reviews .left h6 {
  font-weight: 200;
  margin-bottom: 5px;
}
.testimonial .container .reviews .left h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
}
.testimonial .container .reviews .left .icons i {
  font-size: 0.8em;
  color: #ff8f00;
  margin-bottom: 15px;
}
.testimonial .container .reviews .left p {
  font-size: 0.8em;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  margin-bottom: 2em;
}
.testimonial .container .reviews .left p::before {
  content: "\f053";
  font-family: "font awesome 5 free";
  font-weight: 900;
  bottom: -30%;
  left: 0%;
  color: black;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #9e9e9e;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}
.testimonial .container .reviews .left p::after {
  content: "\f054";
  font-family: "font awesome 5 free";
  font-weight: 900;
  bottom: -30%;
  left: 5%;
  color: black;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #9e9e9e;
  border-radius: 50%;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}
.testimonial .container .reviews .right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}
.testimonial .container .reviews .right img {
  width: 48%;
  height: 48%;
  object-fit: cover;
}
.testimonial .container .reviews .right img:nth-child(3) {
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.testimonial .container .reviews .right img:nth-child(4) {
  position: absolute;
  bottom: 0%;
  right: 0%;
}
@media (max-width: 767px) {
  .testimonial {
    top: 0px;
  }
  .testimonial .head {
    padding-left: 0em;
    flex-direction: column;
  }
  .testimonial .head .left {
    width: 100%;
  }
  .testimonial .container .reviews {
    flex-direction: column;
    padding-block: 1em;
  }
  .testimonial .container .reviews .left,
  .testimonial .container .reviews .right {
    width: 100%;
  }
  .testimonial .container .reviews .left {
    margin-bottom: 20px;
    padding-bottom: 25px;
  }
  .testimonial .container .reviews .left::before {
    top: 50%;
  }
  .testimonial .container .reviews .left p::before {
    bottom: -25%;
  }
  .testimonial .container .reviews .left p::after {
    left: 8%;
    bottom: -25%;
  }
  .testimonial .container .reviews .right {
    flex-direction: column;
  }
  .testimonial .container .reviews .right img {
    width: 100%;
    aspect-ratio: 1.5/1;
  }
  .testimonial .container .reviews .right img:nth-child(3) {
    position: initial;
  }
  .testimonial .container .reviews .right img:nth-child(4) {
    position: initial;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .testimonial .head {
    padding-left: 5em;
  }
  .testimonial .head .left {
    width: 75%;
  }
  .testimonial .container .reviews .left::before {
    top: 60%;
    font-size: 5em;
  }
  .testimonial .container .reviews .left p::after {
    left: 8%;
  }
}
/* end testimonial section -------------------------------------------- */
/* start numbers section ---------------------------------------------- */
.numbers {
  background-color: #2a2a2a;
}
.numbers .container {
  display: flex;
  color: white;
  padding-block: 5em;
  justify-content: space-between;
}
.numbers .container .parent {
  display: flex;
  align-items: center;
}
.numbers .container .parent .left {
  margin-right: 10px;
}
.numbers .container .parent .right p:first-of-type {
  text-align: center;
  font-weight: 900;
  font-size: 3em;
}
@media (max-width: 767px) {
  .numbers .container {
    flex-direction: column;
    align-items: center;
    padding-block: 1em;
  }
  .numbers .container .parent {
    margin-bottom: 40px;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .numbers .container {
    flex-wrap: wrap;
  }
  .numbers .container .parent {
    width: 50%;
    justify-content: center;
    margin-bottom: 25px;
  }
}
/* end numbers section ---------------------------------------------- */
/* start video section ----------------------------------------------- */
.video {
  position: relative;
  margin-bottom: 8em;
}
.video .head {
  border-radius: 20px;
  position: relative;
  width: 100%;
  right: 0%;
  top: 0%;
  height: 25em;
}
.video .head::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background-color: #00000052;
  z-index: 2;
}
.video .head i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 4em;
  color: white;
  cursor: pointer;
  z-index: 3;
  transform: translate(-50%, -50%);
}
.video .head img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.video .container h2.section-tittle {
  color: black;
}
.video .container h2.section-tittle::before {
  -webkit-text-stroke-color: black;
  content: "videos";
  letter-spacing: 2px;
}
.video .container p.section-p {
  color: black;
  margin-bottom: 5em;
}
.video .container .video-type {
  display: flex;
  justify-content: space-between;
}
.video .container .video-type .parent {
  width: 45%;
  position: relative;
  margin-bottom: 5em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.video .container .video-type .parent::before {
  position: absolute;
  content: "";
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 15px;
}
.video .container .video-type .parent img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.video .container .video-type .parent i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: white;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.video .container .video-type .parent .infos {
  position: absolute;
  background-color: white;
  width: 70%;
  left: 50%;
  bottom: 0%;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
}
.video .container .video-type .parent .infos p:first-of-type {
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 5px;
}
.video .container .video-type .parent .infos p:last-of-type {
  font-size: 0.9em;
  font-weight: 400;
}
.video .container .bullet {
  text-align: center;
}
.video .container .bullet span {
  width: 30px;
  height: 5px;
  background-color: #2a2a2a;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}
.video .container .bullet span.active {
  width: 45px;
  background-color: var(--primary-color);
}
@media (max-width: 767px) {
  .video {
    margin-bottom: 2em;
  }
  .video .head {
    height: 10em;
    margin-bottom: 2em;
  }
  .video .container .video-type {
    flex-direction: column;
    align-items: center;
  }
  .video .container .video-type .parent {
    width: 100%;
  }
  .video .container .video-type .parent .infos {
    width: 85%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .video {
    margin-bottom: 2em;
  }
  .video .head {
    height: 20em;
    margin-bottom: 3em;
  }
}
/* end video section ----------------------------------------------- */
/* start ads section ----------------------------------------------- */
.ads {
  background: url(../imgs/ads-bg.jpg) no-repeat;
  background-size: cover;
  padding-block: 5em;
}
.ads .container {
  display: flex;
  justify-content: space-between;
}
.ads .container .left,
.ads .container .right {
  width: 48%;
}
.ads .container .left h2 {
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 10px;
  position: relative;
}
.ads .container .left h2::before {
  position: absolute;
  content: "";
  left: 0%;
  bottom: 0%;
  width: 25%;
  height: 3px;
  background-color: var(--primary-color);
}
.ads .container .left p {
  color: white;
  margin-bottom: 50px;
  font-weight: 500;
}
.ads .container .right {
  position: relative;
}
.ads .container .right img {
  position: absolute;
  right: 0%;
  bottom: -60%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .ads {
    padding-block: 2em;
  }
  .ads .container {
    flex-direction: column;
    align-items: center;
  }
  .ads .container .left,
  .ads .container .right {
    width: 100%;
  }
  .ads .container .right {
    height: 330px;
  }
  .ads .container .right img {
    bottom: -5%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .ads .container .right img {
    bottom: -30%;
  }
}
/* end ads section ----------------------------------------------- */
/* start protein section ------------------------------------------- */
.protein h2:first-child {
  -webkit-text-stroke: 2px black;
  color: transparent;
  font-size: 6em;
  width: fit-content;
  margin: auto;
  margin-bottom: 1em;
}
.protein .container {
  display: flex;
  justify-content: space-between;
}
.protein .container .left,
.protein .container .right {
  width: 48%;
}
.protein .container .left {
  position: relative;
}
.protein .container .left::before {
  position: absolute;
  content: "";
  width: 45%;
  height: 80%;
  border: 15px solid red;
  top: 5%;
  left: 3%;
  z-index: -1;
}
.protein .container .left img {
  max-width: 100%;
}
.protein .container .right p:first-of-type {
  font-weight: 200;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.protein .container .right h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 15px;
}
.protein .container .right h2::before {
  position: absolute;
  content: "";
  bottom: 0%;
  left: 0%;
  width: 30%;
  height: 3px;
  background-color: var(--primary-color);
}
.protein .container .right p:nth-of-type(2) {
  font-size: 0.9em;
  margin-bottom: 15px;
  font-weight: 200;
}
.protein .container .right .top-btn {
  display: flex;
  justify-content: flex-start;
  padding-block: 1em;
}
.protein .container .right .top-btn button {
  padding: 5px 30px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #00000050;
  cursor: pointer;
}
.protein .container .right .top-btn button.active {
  background-color: white;
  color: black;
}
.protein .container .right p:nth-of-type(3) {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 15px;
}
.protein .container .right .bottom-btn {
  display: flex;
  justify-content: flex-start;
  padding-block: 1em;
}
.protein .container .right .bottom-btn button:first-of-type {
  padding: 10px 40px;
  margin-right: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.protein .container .right .bottom-btn button:last-of-type {
  padding: 10px 40px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 767px) {
  .protein {
    margin-bottom: 2em;
  }
  .protein h2:first-child {
    font-size: 4em;
    margin-bottom: 0em;
  }
  .protein .container {
    flex-direction: column;
  }
  .protein .container .left,
  .protein .container .right {
    width: 100%;
  }
  .protein .container .right h2 {
    font-size: 2em;
  }
  .protein .container .right .top-btn {
    flex-direction: column;
  }
  .protein .container .right .top-btn button {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .protein .container .right p:nth-of-type(3) {
    text-align: center;
  }
  .protein .container .right .bottom-btn {
    flex-direction: column;
  }
  .protein .container .right .bottom-btn button:first-of-type {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .protein {
    margin-bottom: 2em;
  }
  .protein h2:first-child {
    font-size: 5em;
    margin-bottom: 0em;
  }
  .protein .container .right h2 {
    font-size: 2em;
  }
  .protein .container .right .top-btn button {
    padding: 5px 15px;
  }
  .protein .container .right .bottom-btn button {
    padding: 10px 20px;
  }
}
/* end protein section ------------------------------------------- */
/* start blog section -------------------------------------------- */
.blog {
  margin-bottom: 2em;
}
.blog .container h2.section-tittle {
  color: black;
}
.blog .container h2.section-tittle::before {
  -webkit-text-stroke-color: black;
  content: "blog";
  letter-spacing: 2px;
}
.blog .container p.section-p {
  color: black;
  margin-bottom: 5em;
}
.blog .container .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 2em;
}
.blog .container .wrapper .parent .top {
  position: relative;
}
.blog .container .wrapper .parent .top::before {
  position: absolute;
  content: attr(data-date);
  width: 35px;
  height: 35px;
  background-color: var(--primary-color);
  padding: 10px 15px;
  font-weight: 600;
  text-transform: uppercase;
  bottom: 20px;
  left: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: white;
}
.blog .container .wrapper .parent .top img {
  max-width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.blog .container .wrapper .parent .bottom .writer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 10px;
}
.blog .container .wrapper .parent .bottom .writer i {
  color: var(--primary-color);
  margin-right: 5px;
}
.blog .container .wrapper .parent .bottom .writer p {
  margin-right: 15px;
  font-weight: 200;
  text-transform: uppercase;
}
.blog .container .wrapper .parent .bottom h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
  margin-bottom: 10px;
}
.blog .container .wrapper .parent .bottom p {
  font-weight: 200;
  font-size: 0.9em;
  margin-bottom: 10px;
}
.blog .container .wrapper .parent .bottom a.no-hover-btn {
  color: black;
  border-color: black;
  font-size: 0.9em;
}
.blog .container .more a {
  display: block;
}
.blog .container .more a p {
  width: fit-content;
  color: var(--primary-color);
  text-transform: uppercase;
  margin: auto;
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid red;
}
@media (max-width: 767px) {
  .blog .container .wrapper {
    flex-direction: column;
    gap: 30px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .blog .container .wrapper {
    flex-wrap: wrap;
  }
  .blog .container .wrapper .parent {
    width: 48%;
  }
}
/* end blog section -------------------------------------------- */
/* start newsletter section -------------------------------------- */
.newsletter .container {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 4em 2em;
  border-radius: 25px;
  margin-bottom: 2em;
}
.newsletter .container .left,
.newsletter .container .right {
  width: 49%;
}
.newsletter .container .left {
  position: relative;
}
.newsletter .container .left::before {
  position: absolute;
  content: "\f2b6";
  left: 63%;
  top: 7%;
  font-family: "font awesome 5 free";
  font-weight: 900;
  color: white;
  font-size: 9em;
  opacity: 0.1;
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}
.newsletter .container .left::after {
  position: absolute;
  content: "\f0e0";
  left: 7%;
  top: -34%;
  font-family: "font awesome 5 free";
  font-weight: 900;
  color: white;
  font-size: 10em;
  opacity: 0.1;
  transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
}
.newsletter .container .left h2 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}
.newsletter .container .left h3 {
  font-size: 1.8em;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}
.newsletter .container .left p {
  color: white;
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.newsletter .container .right input {
  width: 80%;
  display: block;
  margin-bottom: 10px;
  padding: 15px 5px;
  border: none;
  outline: none;
}
.newsletter .container .right button {
  padding: 15px 5px;
  border: none;
  outline: none;
  width: 80%;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .newsletter .container {
    flex-direction: column;
    padding: 3em 1em;
  }
  .newsletter .container .left,
  .newsletter .container .right {
    width: 100%;
  }
  .newsletter .container .left {
    margin-bottom: 15px;
  }
  .newsletter .container .left::before {
    left: 70%;
    top: 35%;
    font-size: 4em;
  }
  .newsletter .container .left::after {
    top: 30%;
    font-size: 4em;
  }
  .newsletter .container .left h2 {
    font-size: 2em;
  }
  .newsletter .container .left h3 {
    font-size: 1.1em;
  }
  .newsletter .container .left p {
    font-size: 0.7em;
  }
  .newsletter .container .right input,
  .newsletter .container .right button {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .newsletter .container .left::before {
    left: 70%;
    top: 10%;
    font-size: 5em;
  }
  .newsletter .container .left::after {
    top: -20%;
    font-size: 5em;
  }
  .newsletter .container .left h2 {
    font-size: 3em;
  }
  .newsletter .container .left h3 {
    font-size: 1.2em;
  }
  .newsletter .container .left p {
    font-size: 0.8em;
  }
  .newsletter .container .right input,
  .newsletter .container .right button {
    width: 100%;
  }
}
/* end newsletter section -------------------------------------- */
/* start footer ------------------------------------------------- */
footer {
  background-color: black;
  color: white;
  padding-block: 2em;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 2em;
}
footer .container .contact .top {
  margin-bottom: 20px;
}
footer .container .contact .top img {
  width: 130px;
}
footer .container .contact .bottom i {
  color: var(--primary-color);
  margin-right: 15px;
}
footer .container .contact .bottom .our-place {
  display: flex;
}
footer .container .contact .bottom .our-place address {
  margin-bottom: 15px;
  display: inline;
}
footer .container .contact .bottom > a {
  color: white;
  margin-bottom: 40px;
}
footer .container .contact .bottom .social-media a i {
  font-size: 1.2em;
}
footer .container .category h3 {
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5em;
}
footer .container .category a {
  display: block;
  color: white;
  font-weight: 400;
  margin-bottom: 15px;
}
footer .copyright {
  text-align: center;
}
footer .copyright p {
  color: white;
  font-weight: 500;
  margin-bottom: 5px;
}
footer .copyright p a {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 700;
  margin-left: 5px;
}
footer .copyright p span:nth-of-type(1) {
  color: var(--primary-color);
}
footer .copyright p span:nth-of-type(2) {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
}
@media (max-width: 767px) {
  footer .container {
    grid-template-columns: 1fr;
  }
  footer .copyright p {
    font-size: 0.8em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* end footer ------------------------------------------------- */
